.container {
    margin-top: 80px;
    background: url("wing.jpg") no-repeat right;
}
.form-signup > div {
    padding: 10px;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.nav-item{
    padding: 10px;
}
.tab {
    margin-left: 50px;
}
.jumbotron {
    background: purple;
    color: yellow;
}



